
.header {
  background-color: #446;
}

.header ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
}

.header li {
  float: left;
  padding: 10px;
}

.header li a {
  color: #fff;
}

.container {
  font-family: Montserrat;
  text-align: center;
  margin: auto;
  height: 100%;
  overflow: auto;
}

.section {
  position: relative;
  width: 100%;
}

.section p {
  margin: 0;
}
.fit {
  height: 100%;
}
.wide {
  height: auto;
  padding-top: 56.25%;
  /* 9 / 16 = 0.5625 */
}
.fit .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.t {
  display: table;
  width: 100%;
  height: 100%;
}

.tc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  font-family: 'Great Vibes', cursive;
  color: white;
  font-size: 5rem;
  font-weight: bold;
}

h3 {
  color: white;
  font-family: Montserrat;
}

p {
  color: white;
  padding: 1rem;
  font-family: 'Montserrat', cursive;
  font-size: 1rem;
  font-weight: lighter;
}

